<po-page-default
     [p-title]="literals?.orderCustomer"
     [p-breadcrumb]="breadcrumb"
     >
    
  <div class="po-row">
      <po-select 
      class="po-sm-3"
      name="selectCustomer"
      [(ngModel)]="selectCustomer"
      [p-label]="literals?.customer"
      [p-options]="customerOptions"
      (p-change)="onChangeCustomer()">
      </po-select>
  </div>
  <po-divider p-label="" ></po-divider>
  <po-widget
    class="po-lg-3"
    p-height="300"
    [p-primary-label]="literals?.detail"
    [p-title]="literals?.infoCustomer"
     >

    <po-info
      [p-label]="literals?.country"
      [p-value]="teste">
    </po-info>
    <po-info
      [p-label]="literals?.name"
      [p-value]="123">
    </po-info>
  </po-widget>
  <po-table class="po-xl-4 po-lg-4 po-md-8 po-sm-12"
          p-checkbox="false"
          p-striped="true"
          [p-columns]="columns"
          [p-items]="items"
          [p-actions]="tableActions"
          [p-show-more-disabled]="!hasNext"
          (p-show-more)="search(true)">
  </po-table>
</po-page-default>
  