<po-page-default
     [p-title]="literals?.orderCustomer"
     [p-breadcrumb]="breadcrumb"
     >
    
  <div class="po-row">
      <po-select 
      class="po-sm-3"
      name="customer"
      [(ngModel)]="selectCustomer"
      [p-label]="literals?.customer"
      [p-options]="customerOptions"
      (p-change)="onChangedCustomer()">
      
      </po-select>
  </div>
  <po-divider p-label="" ></po-divider>
  <po-widget
    class="po-lg-3"
    p-height="200"
    [p-primary-label]="literals?.detail"
    [p-title]="literals?.infoCustomer"
    (p-primary-action)="getDetailCustomer()"
     >
    <po-info
      [p-orientation]="orientation"
      [p-label]="literals?.name"
      [p-value]="customer.name">
    </po-info>
    <po-info
      [p-orientation]="orientation"
      [p-label]="literals?.country"  
      [p-value]="customer.country">
    </po-info>
    
  </po-widget>

  <po-table class="po-xl-4 po-lg-8 po-md-6 po-sm-12"
          p-checkbox="false"
          p-striped="true"
          [p-columns]="columns"
          [p-items]="items"
          [p-show-more-disabled]="!hasNext"
          (p-show-more)="search(true)">
  </po-table>
</po-page-default>
  